*.iml
.gradle
/local.properties
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
capturas_pruebas/
screen_*.png
parse_ui.py
sqlite_mcp_server.db
Logo-CampusGo.png
app/release/
*.log

